<div class="mypanel">
	<table id="tableReservations" class="table table-hover  table-condensed">
		<thead>
			<tr><th>Service</th><th>User</th><th>Date</th><th>State</th></tr>
		</thead>
		<tfoot>
			<tr><th>Service</th><th>User</th><th>Date</th><th>State</th></tr>
		</tfoot>
		<tbody>
			<tr data-ng-repeat="( key , reserve ) in reservations track by $index" style="cursor:pointer" class="{{ reserve.clazz }}" data-toggle="modal" data-target=".{{ reserve._id }}">
				<td>{{ reserve.ref_service.title }}</td><td>{{ reserve.ref_user.name }} - {{ reserve.ref_user.email }}</td><td>{{ reserve.dt_start }} - {{ reserve.dt_end }}</td><td><i class="{{reserve.icon}}">&nbsp;{{ reserve.desc_status }}</td>
			</tr>
		</tbody>
	</table>	
	<mymodal data-ng-repeat="( key , reserve ) in reservations" height='200' title="{{ reserve.ref_service.title }}" name="{{ reserve._id }}">
		
		<mymodalbody>
		
			<mytabs style="background:white !important">

				<mytabcontent title="Answer" >
					<textarea data-ng-model="reserve.response" class="form-control" style="width:90%;margin-left:5%;" rows="5" placehoder="asd"></textarea>
				</mytabcontent>

				<mytabcontent title="Service">
					<div class="row left">
						<div class="col col-xs-6 col-sm-6 col-md-6 col-lg-6"><b>Category</b>&emsp;{{ reserve.ref_service.ref_category.name }}</div>
						<div class="col col-xs-6 col-sm-6 col-md-6 col-lg-6"><b>Date</b>&emsp;{{ reserve.dt_start }} - {{ reserve.dt_end }}</div>
						<div class="col col-xs-6 col-sm-6 col-md-6 col-lg-6"><b>Price</b>&emsp;$ {{ reserve.ref_service.price }}</div>
						<div class="col col-xs-6 col-sm-6 col-md-6 col-lg-6"><b>Total</b>&emsp;$ {{ reserve.total }}</div>
						<div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12"><b>Details</b>&emsp;{{ reserve.details }}</div>
					</div>
				</mytabcontent>
			
				<mytabcontent title="User">
					<div class="row left">
						<div class="col col-xs-6 col-sm-6 col-md-6 col-lg-6"><b>User</b>&emsp;{{ reserve.ref_user.name }}</div>
						<div class="col col-xs-6 col-sm-6 col-md-6 col-lg-6"><b>Phone</b>&emsp;{{ reserve.ref_user.phone }}</div>
						<div class="col col-xs-6 col-sm-6 col-md-6 col-lg-6"><b>Street</b>&emsp;{{ reserve.ref_user.address.street }} - {{ reserve.ref_user.address.number }}</div>
						<div class="col col-xs-6 col-sm-6 col-md-6 col-lg-6"><b>District</b>&emsp;{{ reserve.ref_user.address.district }}</div>
						<div class="col col-xs-6 col-sm-6 col-md-6 col-lg-6"><b>City</b>&emsp;{{ reserve.ref_user.address.city.city }} ( {{ reserve.ref_user.address.city.initials }} )</div>
					</div>
				</mytabcontent>

			</mytabs>

		</mymodalbody>

		<mymodalfooter>

			<button  class="btn btn-danger"  data-dismiss="modal" data-ng-click="reject(reserve);"><i class="fa fa-thumbs-down"></i>&nbsp;Reject</button> 
			<button  class="btn btn-success" data-dismiss="modal" data-ng-click="accept(reserve);"><i class="fa fa-thumbs-up">  </i>&nbsp;Accept</button> 
			<button  class="btn btn-default" data-dismiss="modal" ><i class="fa fa-close">      </i>&nbsp;Close </button>

		</mymodalfooter>

	</mymodal>
</div>