<div class="nav nav-bar" style="padding: 7px">
	<div class="form-group form-inline">
		<form>
			<input type="text" placeholder="Title"       class="filter form-control col-xs-6 col-sm-4 col-md-4 col-lg-2" data-ng-model="fTitle">
			<input type="text" placeholder="Description" class="filter form-control col-xs-6 col-sm-4 col-md-4 col-lg-2" data-ng-model="fDescription">
			<input type="text" placeholder="Category"    class="filter form-control col-xs-6 col-sm-4 col-md-4 col-lg-2" data-ng-model="fCategory">
			<select data-ng-options="item.order as item.text for item in filters track by item.id"  class="filter form-control col-xs-6 col-sm-4 col-md-4 col-lg-2" id="filter_order" data-ng-model="order"></select>
		</form>
	</div>
</div>

<div data-ng-repeat="i in services | filter : { title: fTitle , description: fDescription, ref_category: { name: fCategory } } | orderBy: order : true  ">
    <mycard data="i"></mycard>
</div>
<div style="min-height:80px; position:inherit" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">&nbsp;</div>
<script type="text/javascript">$(document).ready(function(){$("#filter_order").find('option[value="2"]').attr('selected',1);});</script>