<br>
<mytabs>
    <mytabcontent title="{{ 'RESERVATIONS' | translate }}">
        <div class="col-sm-12 col-lg-12 col-md-12" style="margin-bottom:50px;padding: 0px 10% 0px 10%;">
            <form style="">
                <div class="thumbnail" >
                    <mycalendar service="service" data="services_reservations" user='user' name='services_reservations'  model='new_reservations' lang="{{ lang }}"></mycalendar>
                </div>
            </form>
        </div>
    </mytabcontent>

    <mytabcontent title="{{ 'DETAILS' | translate }}">

<div class="row" style="padding: 0px 15% 0px 15%;">
    <div class="col-sm-12 col-lg-12 col-md-12">
        <div class="thumbnail" style=" height:370px;">
            <img src="{{ service.images[0].bas64 }}" style="width: 320px;height: 150px;"alt="">
            <div class="caption">
                <h4 class="pull-right" >{{ 'MONEY' | translate }} {{ service.price }}</h4>
                <h4><b>{{ service.title }} - {{ service.ref_category.name }}</b></h4>
                <p data-ng-bind-html="service.description"></p>
            </div>
            <div style="float:right">
                 <button class="btn btn-success" data-ng-click="makeReservetions();" data-ng-disabled="hasMake()" ><i class="fa fa-check-square-o"></i>  {{ 'MAKE_RESERVATION' | translate }}</button>
                <a data-ng-href="/#/" style="color:white !important;" class="btn btn-primary"><i class="fa fa-hand-o-left"></i>  {{ 'BACK' | translate }}</a>
            </div>
        </div>
    </div>
</div>

<div class="row" style="padding: 0px 20% 0px 20%;">
    <div class="well">
        <h4>{{ 'LEAVE' | translate }} {{ 'A' | translate }} {{ 'COMMENT' | translate }}:</h4>
        <form name="reserve">
            <div class="form-group">
                <textarea class="form-control" name="new_comment" data-ng-model="new_comment" rows="3"></textarea>
            </div>
                <button data-ng-click="comment( new_comment );new_comment = '';" data-ng-disabled="!new_comment" class="btn btn-primary">{{ 'SUBMIT' | translate }}</button>
            <div class="ratings"  style="float: right">
            <p>
                <span class="glyphicon glyphicon-star" style="opacity:0" ng-mouseover="paintYellow( -1 );"></span>
                <span class="glyphicon glyphicon-star" data-ng-click="clickStar();" data-ng-class="{ 'yellow' : cont > 0 , 'black' : cont < 0 }" ng-mouseover="paintYellow( 1 );"></span>
                <span class="glyphicon glyphicon-star" data-ng-click="clickStar();" data-ng-class="{ 'yellow' : cont > 1 , 'black' : cont < 0 }" ng-mouseover="paintYellow( 2 );"></span>
                <span class="glyphicon glyphicon-star" data-ng-click="clickStar();" data-ng-class="{ 'yellow' : cont > 2 , 'black' : cont < 0 }" ng-mouseover="paintYellow( 3 );"></span>
                <span class="glyphicon glyphicon-star" data-ng-click="clickStar();" data-ng-class="{ 'yellow' : cont > 3 , 'black' : cont < 0 }" ng-mouseover="paintYellow( 4 );"></span>
                <span class="glyphicon glyphicon-star" data-ng-click="clickStar();" data-ng-class="{ 'yellow' : cont > 4 , 'black' : cont < 0 }" ng-mouseover="paintYellow( 5 );"></span>
            </p>
        </div>
        </form>
    </div>
    <div><b>{{ 'ALL' | translate }} {{ 'COMMENTS' | translate }}:</b></div><hr>
    <div data-ng-repeat="comment in service.comments">
        <div class="media-body">
            <h4 class="media-heading">{{comment.username}}&emsp;<small>at {{ comment.date }}</small></h4>
            <h6 data-ng-bind-html="comment.comment"></h6>
        </div>
        <div class="ratings">
            <p>
                <span class="glyphicon glyphicon-star" data-ng-class="{ 'yellow' : comment.stars > 0 }"></span>
                <span class="glyphicon glyphicon-star" data-ng-class="{ 'yellow' : comment.stars > 1 }"></span>
                <span class="glyphicon glyphicon-star" data-ng-class="{ 'yellow' : comment.stars > 2 }"></span>
                <span class="glyphicon glyphicon-star" data-ng-class="{ 'yellow' : comment.stars > 3 }"></span>
                <span class="glyphicon glyphicon-star" data-ng-class="{ 'yellow' : comment.stars > 4 }"></span>
            </p>
        </div>
    </div>
</div>

</mytabcontent>
<br><br><br><br><br>
