<myform formname="userForm" funcsubmit="store()">
	<div>
		
		<mypanel title="My Account">
			<mypanelbody>
				<mytabs>
					<mytabcontent title='User'>
			            <mytext    model="user.name"             name="name"     label="Name"     form="userForm"  required="true">                       </mytext>
			            <mytext    model="user.email"            name="email"    label="E-mail"   form="userForm"  required="true">                       </mytext>
			            <mytext    model="user.phone"            name="phone"    label="Phone"    form="userForm"  required="true" mask="(##) ####-#####" minlength="16"></mytext>
		            	<myfile    model="user.image"            name="image"    label="Photo"    form="userForm"  required="true" data-ng-if="user.type != 1"></myfile>
		            </mytabcontent>
		            <mytabcontent title='Address'>
			            <myselect2 model="user.address.city"     name="city"     label="Cidade"   data="cities"    required="true" form="userForm">       </myselect2> 
			            <mytext    model="user.address.district" name="district" label="Distrito" form="userForm"  required="true">                       </mytext>
			            <mytext    model="user.address.number"   name="number"   label="Number"   form="userForm"  required="true">                       </mytext>
			            <mytext    model="user.address.street"   name="street"   label="Street"   form="userForm"  required="true">                       </mytext>
		            </mytabcontent>
	            </mytabs>
			</mypanelbody>
			<mypanelfooter>

				<button class="btn btn-default" type="submit"><i class='fa fa-save'></i>&nbsp;Submit</button>
		        <a class="btn btn-default" data-ng-href="#/"><i class='fa fa-home'></i>&nbsp;Back to home</a>

			</mypanelfooter>
		</mypanel>

	</div>
</myform>