.bs-body {
	width: 100%;
}

.bs-page-title {
	margin-top: 20px;
	background-color: #459c50 !important ;
	border-radius: 20px;
	color: white;
	padding-left: 10px;
	margin-bottom: 0px !important;
}

.left {
	text-align: left !important;
}

.bs-page-content {
	padding: 10px;
	border-color: #d2d2d2 !important;
	margin-bottom: 0px !important;
	height: 425px !important;	
}

.bs-alert {
	position: fixed;
	top: 50%; 
	width: 40%;
	margin-left:20%;
	margin-right:20%
}

.bs-page-footer {
	border-color: #d2d2d2 !important;
	padding: 5px;
}

.bs-menu-title {
	cursor: pointer;
	background-color: #459c50 !important;
	margin: 0 0 0 0 !important;
	padding-left: 15px;
	color: white;
	border-bottom: solid #e7e7e7 1px;
}

.bs-menu {
	background-color: #459c50 !important;
	padding: 0 0 0 0 !important;
}

.center {
	text-align: center;
}

.bs-menu-actions {
	
	padding: 0 0 0 0 !important;
}

.bs-menu-item {
	border-bottom: solid #e7e7e7 1px;
	background-color: #f8f8f8 !important;
	cursor: pointer;
}

.bs-table-id {
	width: 10%;
}

.bs-table-actions {
	width: 12%;
}

.bs-footer {
	margin: 1%;
	font-weight: bold;
}

.title {
	font-size: 30px !important;
    font-weight: bolder;
}

.red {
	color: red;
}

.text-red {
	color: red;
}

.text-green {
	color: #459c50;
}

.green {
	color: #459c50;
}

a {
	color: #333 !important;
}

body {
	padding-top: 50px;
	margin:		 0; 
	height: 	 100%;
	font-family: -webkit-pictograph !important;
}

nav {
	background-color: #459c50 !important;
	color: white !important;
}	

nav a {
	color: white !important;
}

th {
	cursor: pointer;
}