<div class="row">
	<div style="margin: auto;margin-top: 10%; width: 300px;">
	 	<a href="/auth/github/"   class="btn btn-block btn-social btn-github" style="color:white !important;">
    		<span class="fa fa-github"></span><span> {{ 'LOGIN_WITH' | translate }} GitHub </span>
  		</a>
  		<p></p>
  		<a href="/auth/facebook/" class="btn btn-block btn-social btn-facebook" style="color:white !important;">
    		<span class="fa fa-facebook"></span><span> {{ 'LOGIN_WITH' | translate }} Facebook </span>
  		</a>
  		<p></p>
  		<a href="/auth/google/" class="btn btn-block btn-social btn-google" style="color:white !important;">
    		<span class="fa fa-google" ></span><span> {{ 'LOGIN_WITH' | translate }} Google </span>
  		</a>
  		<p></p>
	 	<a href="#/auth/login/" class="btn btn-block btn-social btn-twitter" style="color:white !important;background-color:#459c50 !important">
    		<span class="fa fa-sign-in"></span><span> {{ 'LOGIN_WITH' | translate }} Services </span>
  		</a>
  		<p></p>
	</div>
</div>
