<div class="row">
	<div style="margin: auto;margin-top: 10%; width: 300px;">
		<a href="/auth/github/" class="btn btn-default" style="width: 300px;font-size:25px">
			<i class="fa fa-github" aria-hidden="true"></i>&nbsp;Log in with GitHub
		</a>
		</p>
		<a href="/auth/github/" class="btn btn-default" style="width: 300px;font-size:25px">
			<i class="fa fa-facebook" aria-hidden="true"></i>&nbsp;Log in with Facebook
		</a>
		</p>
		<a href="/auth/github/" class="btn btn-default" style="width: 300px;font-size:25px">
			<i class="fa fa-google" aria-hidden="true"></i>&nbsp;Log in with Google
		</a>
	</div>
</div>