<myform formname="loginForm" funcsubmit="store()">
<mypanel title="Login">
	<mypanelbody>
	    	<mytext     model="user.username"     name="username"    label="{{ 'USER' | translate }}" form="loginForm"  required="true"></mytext>
        	<mypassword model="user.password"     name="password"    label="{{ 'PASS' | translate }}" form="loginForm"  required="true"></mypassword>
        <div style="width: 58%; margin-left: 17%;">
        	<button class="btn btn-submit" style="width:100%" type="submit"><i class='fa fa-key'></i>&nbsp;{{ 'LOGIN' | translate }}</button>
        </div>
    </mypanelbody>
</mypanel>
</myform>