<div data-toggle="collapse" data-target=".cadastros" class="bs-menu-title"><h4>Cadastros</h4></div>
<div class="divider"></div>
<div class="collapse bs-menu-item cadastros"><a class="btn btn-block" href="#/categories">Category</a></div>
<div class="divider"></div>
<div class="collapse bs-menu-item cadastros"><a class="btn btn-block" href="#/categories">Category</a></div>
<div data-toggle="collapse" data-target=".reports" class="bs-menu-title"><h4>Reports</h4></div>
<div class="collapse bs-menu-item reports"><a class="btn btn-block" href="#/categories">Category</a></div>
<div class="collapse bs-menu-item reports"><a class="btn btn-block" href="#/categories">Category</a></div>