<div class="bs-menu-fix">Menu</div>

<div data-toggle="collapse" data-target=".entries" class="bs-menu-title">Entries</div>

<div class="collapse bs-menu-item entries">
	<a class="btn btn-block left" href="#/categories">
		<i class="fa fa-circle-o text-green"></i>&nbsp;&nbsp;<b>Categories</b>
	</a>
</div>
<div class="collapse bs-menu-item entries">
	<a class="btn btn-block left" href="#/users">
		<i class="fa fa-users text-green"></i>&nbsp;&nbsp;<b>Users</b>
	</a>
</div>

<!-- <div data-toggle="collapse" data-target=".reports" class="bs-menu-title">Reports</div>
<div class="collapse bs-menu-item reports">
	<a class="btn btn-block left" href="#/users">
		<i class="fa fa-users text-green"></i>&nbsp;&nbsp;<b>Users</b>
	</a>
</div> -->