<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <a class="sbtn" style="text-align:left" data-ng-href="#/reserve/{{data._id}}">
            <img style="width:320px;height:150px;background-size: 320px 150px;background-repeat:no-repeat;background-image:url('{{data.images[0].bas64}}');">
            <div class="caption">
                <h4 class="pull-right">{{ 'MONEY' | translate }} {{data.price}}</h4>
                <h4><b><i class="fa fa-gears"    style="font-size:12px;"></i></b>  {{data.title}} </h4>
                <h5><b><i class="fa fa-user"     style="font-size:12px;"></i></b>  {{data.professional.name}} </h5>
                <h5><b><i class="fa fa-circle-o" style="font-size:12px;"></i></b>  {{data.ref_category.name}} </h5>
                <p class="card" data-ng-bind-html="data.description"></p>
            </div>
        </a>
        <div class="ratings">
            <p class="pull-right">{{ count }} {{ 'REVIEWS' | translate }}</p>
            <p>
                <span class="glyphicon glyphicon-star" data-ng-class="{ 'yellow' : stars > 0 }"></span>
                <span class="glyphicon glyphicon-star" data-ng-class="{ 'yellow' : stars > 1 }"></span>
                <span class="glyphicon glyphicon-star" data-ng-class="{ 'yellow' : stars > 2 }"></span>
                <span class="glyphicon glyphicon-star" data-ng-class="{ 'yellow' : stars > 3 }"></span>
                <span class="glyphicon glyphicon-star" data-ng-class="{ 'yellow' : stars > 4 }"></span>
            </p>
        </div>
    </div>
</div>