<div class="form-group has-feedback" data-ng-class="{ 'has-success' : !form[name].$invalid , 'has-error' : form[name].$invalid }" >
   
    <label class="col-sm-2 control-label">{{ label }}</label>
   
    <div class="col-sm-7">

        
        
        <ng-datepicker 
            data-ng-model="model" 
            name="{{name}}"
            id="{{name}}"
        	locale="pt-br" 
            format="{{mask}}" 
            view-format="{{mask}}"
            placeholder="{{mask}}"
            data-ng-required="required">
        </ng-datepicker>              

        <span class="glyphicon form-control-feedback" data-ng-class="{ 'glyphicon-ok' : !form[name].$invalid , 'glyphicon-remove' : form[name].$invalid }" aria-hidden="true"></span>
        
        <span class="text-danger" data-ng-show="form[name].$error.required">{{ label }} {{ 'IS' | translate }} {{ 'REQUIRED' | translate }}</span>
        <span class="text-danger" data-ng-show="form[name].$error.minlength">{{ 'MINIMU' | translate }} {{minlength}} {{ 'CHAR' | translate }}</span>
        <span class="text-danger" data-ng-show="form[name].$error.minlength">{{ 'MAX'    | translate }} {{maxlength}} {{ 'CHAR' | translate }}</span>
   
    </div>
</div>