<div class="form-group has-feedback" data-ng-class="{ 'has-success' : !form[name].$invalid , 'has-error' : form[name].$invalid }" >
   
    <label class="col-sm-2 control-label">{{ label }}</label>
   
    <div class="col-sm-7">

        <textarea 
               data-ng-model="model" 
        	   name="{{name}}" 
        	   class="form-control" 
        	   placeholder="{{label}}"
               style="height:{{height}}px"
        	   data-ng-required="required" >
        </textarea>
        <span class="glyphicon form-control-feedback" data-ng-class="{ 'glyphicon-ok' : !form[name].$invalid , 'glyphicon-remove' : form[name].$invalid }" aria-hidden="true"></span>
        
        <span class="text-danger" data-ng-show="form[name].$error.required">{{ label }} {{ 'IS' | translate }} {{ 'REQUIRED' | translate }}</span>
        <span class="text-danger" data-ng-show="form[name].$error.minlength">{{ 'MINIMU' | translate }} {{minlength}} {{ 'CHAR' | translate }}</span>
        <span class="text-danger" data-ng-show="form[name].$error.minlength">{{ 'MAX'    | translate }} {{maxlength}} {{ 'CHAR' | translate }}</span>
   
    </div>
</div>