<!DOCTYPE html>
<html>
<head>
	<title>Don't authorized</title>
	<!-- build:css css/401.min.css -->
    <link rel="stylesheet"  type="text/css" href="/vendor/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet"  type="text/css" href="/vendor/font-awesome/css/font-awesome.css">
    <!-- endbuild -->
</head>
<body>
<div class="container alert alert-info">
	<span style="font-size:50px;width:50%"><i class="fa fa-key"></i></span><span style="font-size:30px">&nbsp;Don't authorized</span>
</div>
<div class="container text-center">
	<a class="btn btn-default" href="/#/auth"><i class="fa fa-home"></i>&nbsp;Back to the Login</a>
</div>
</body>
</html>