<!DOCTYPE html>

<html lang="pt">

<div data-ng-app="services">
    
    <head>
        <title>Services</title>
        <!-- build:css css/index.min.css -->
        <link rel="stylesheet"  type="text/css" href="/css/app.css">
        <link rel="stylesheet"  type="text/css" href="/vendor/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet"  type="text/css" href="/vendor/bootstrap-social/bootstrap-social.css">
        <link rel="stylesheet"  type="text/css" href="/vendor/font-awesome/css/font-awesome.css">
        <link rel="stylesheet"  type="text/css" href="/vendor/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css">
        <link rel="stylesheet"  type="text/css" href="/vendor/select2/dist/css/select2.css">
        <link rel="stylesheet"  type="text/css" href="/vendor/sweetalert/dist/sweetalert.css">
        <link rel="stylesheet"  type="text/css" href="/vendor/ngDatepicker/src/css/ngDatepicker.css">
        <link rel="stylesheet"  type="text/css" href="/vendor/fullcalendar/dist/fullcalendar.css">
        <link rel="stylesheet"  type="text/css" href="/vendor/fullcalendar/dist/fullcalendar.print.css" media="print">
        <!-- endbuild -->
        <!-- build:js js/index.min.js -->
        <script type="text/javascript" src="/vendor/jquery/dist/jquery.js">                                    </script>
        <script type="text/javascript" src="/vendor/bootstrap/dist/js/bootstrap.js">                           </script>
        <script type="text/javascript" src="/vendor/bootstrap-switch/dist/js/bootstrap-switch.js">             </script>
        <script type="text/javascript" src="/vendor/angular/angular.js">                                       </script>
        <script type="text/javascript" src="/vendor/angular-route/angular-route.js">                           </script>
        <script type="text/javascript" src="/vendor/angular-sanitize/angular-sanitize.js">                     </script>
        <script type="text/javascript" src="/vendor/angular-bootstrap-switch/dist/angular-bootstrap-switch.js"></script>
        <script type="text/javascript" src="/vendor/angularUtils-pagination/dirPagination.js">                 </script>
        <script type="text/javascript" src="/vendor/select2/dist/js/select2.full.js">                          </script>
        <script type="text/javascript" src="/vendor/moment/min/moment-with-locales.js">                        </script>
        <script type="text/javascript" src="/vendor/ngDatepicker/src/js/ngDatepicker.js">                      </script>
        <script type="text/javascript" src="/vendor/fullcalendar/dist/fullcalendar.js">                        </script>
        <script type="text/javascript" src="/vendor/sweetalert/dist/sweetalert.min.js">                        </script>
        
        <script type="text/javascript" src="/js/MySession.js">                                                 </script>
        <script type="text/javascript" src="/js/Message.js">                                                   </script>

        <script type="text/javascript" src="/js/app.js">                                                       </script>
        <script type="text/javascript" src="/js/directives/mypanel.js">                                        </script>
        <script type="text/javascript" src="/js/directives/mytable.js">                                        </script>
        <script type="text/javascript" src="/js/directives/myform.js">                                         </script>
        <script type="text/javascript" src="/js/directives/mytext.js">                                         </script>
        <script type="text/javascript" src="/js/directives/mydate.js">                                         </script>
        <script type="text/javascript" src="/js/directives/myhidden.js">                                       </script>
        <script type="text/javascript" src="/js/directives/mycheckbox.js">                                     </script>
        <script type="text/javascript" src="/js/directives/mytabs.js">                                         </script>
        <script type="text/javascript" src="/js/directives/mytabcontent.js">                                   </script>
        <script type="text/javascript" src="/js/directives/myselect2.js">                                      </script>
        <script type="text/javascript" src="/js/directives/myfile.js">                                         </script>
        <script type="text/javascript" src="/js/directives/mymask.js">                                         </script>
        <script type="text/javascript" src="/js/directives/mypassword.js">                                     </script>
        <script type="text/javascript" src="/js/directives/mycombo.js">                                        </script>
        <script type="text/javascript" src="/js/directives/mycalendar.js">                                     </script>
        <script type="text/javascript" src="/js/directives/mytextarea.js">                                     </script>
        <script type="text/javascript" src="/js/directives/mycard.js">                                         </script>
        <script type="text/javascript" src="/js/directives/mycarousel.js">                                     </script>
        
        <script type="text/javascript" src="/js/services/InterceptorService.js">                               </script>
        <script type="text/javascript" src="/js/services/CategoriesServices.js">                               </script>
        <script type="text/javascript" src="/js/services/UsersServices.js">                                    </script>
        <script type="text/javascript" src="/js/services/CitiesServices.js">                                   </script>
        <script type="text/javascript" src="/js/services/ServicesServices.js">                                 </script>
        <script type="text/javascript" src="/js/services/ReservationsServices.js">                             </script>
        
        <script type="text/javascript" src="/js/controllers/categories/CategoriesController.js">               </script>
        <script type="text/javascript" src="/js/controllers/categories/CategoryController.js">                 </script>        
        <script type="text/javascript" src="/js/controllers/users/UsersController.js">                         </script>
        <script type="text/javascript" src="/js/controllers/users/UserController.js">                          </script>        
        <script type="text/javascript" src="/js/controllers/auth/LoginController.js">                          </script>        
        <script type="text/javascript" src="/js/controllers/services/ServiceController.js">                    </script>        
        <script type="text/javascript" src="/js/controllers/services/ServicesController.js">                   </script>        
        <script type="text/javascript" src="/js/controllers/homes/HomeController.js">                          </script>        
        <script type="text/javascript" src="/js/controllers/homes/MainController.js">                          </script>        
        <script type="text/javascript" src="/js/controllers/reservations/ReserveController.js">                </script>        
        <script type="text/javascript" src="/js/controllers/reservations/ConfirmReserveController.js">         </script>        
        <script type="text/javascript" src="/js/controllers/TesteController.js">                               </script>        

        <script type="text/javascript" src="/js/controllers/users/UserReportController.js">                    </script>
        <!-- endbuild -->

    </head>
    
    <body>
        <div>
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">

                    <a class="navbar-brand title" href="#/">Services</a>    
                    <% if( logged ){ %> 
                    <ul class="nav navbar-nav navbar-right" data-ng-controller="MainController">
                        <li class="dropdown">
                          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i style="font-size:25px;" class="fa fa-shopping-cart"></i><span style="margin-top: -30px;color:#a94442;background-color:#dca7a7" class="badge">{{ qtde }}</span></a>
                            <ul class="dropdown-menu">
                                <li><a class="menu-navbar" data-ng-href="/#/orders"><i class="fa fa-history"></i> See all</a></li>
                                <li><a class="menu-navbar" data-ng-href="/#/orders"><i class="fa fa-history"></i> Clear all</a></li>
                            </ul>
                        </li>
                    </ul>
                    
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%=username%>&nbsp;&nbsp;&nbsp;<img src="<%=image%>" class="myimage" style="border-radius:15px;"height="30px" width="30px"></a>
                            <ul class="dropdown-menu">
                                <li><a class="menu-navbar" data-ng-href="/#/orders"><i class="fa fa-history"></i> Meus pedidos</a></li>
                                <li><a class="menu-navbar" data-ng-href="/#/account"><i class="fa fa-user"></i> Minha conta</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a class="menu-navbar" data-ng-href="/auth/logout/"><i class="fa fa-power-off"></i> Logout</a></li>
                            </ul>
                        </li>
                        <% } else {  %>
                    <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-ng-href="#/auth/" >Login</a>
                            </li>
                        <% }  %>
                    </ul>

                </div>

            </nav>
        </div>
        <% if( logged != 1 && logged ){ %> 
            <% include menu %>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10" data-ng-view></div>
        <%}else{%>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" data-ng-view></div>
        <%}%>
    </body>
    <div data-ng-include="'partials/footer.html'"></div>
</div>
</html>