<!DOCTYPE html>

<div data-ng-app="services">

    <head>

        <!-- <meta charset="utf-8"> -->

        <title>Services</title>
        <!-- build:css css/index.min.css -->
        <link rel="stylesheet"  type="text/css" href="/css/app.css">
        <link rel="stylesheet"  type="text/css" href="/vendor/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet"  type="text/css" href="/vendor/bootstrap-social/bootstrap-social.css">
        <link rel="stylesheet"  type="text/css" href="/vendor/font-awesome/css/font-awesome.css">
        <link rel="stylesheet"  type="text/css" href="/vendor/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css">
        <link rel="stylesheet"  type="text/css" href="/vendor/select2/dist/css/select2.css">
        <link rel="stylesheet"  type="text/css" href="/vendor/sweetalert/dist/sweetalert.css">
        <link rel="stylesheet"  type="text/css" href="/vendor/ngDatepicker/src/css/ngDatepicker.css">
        <link rel="stylesheet"  type="text/css" href="/vendor/fullcalendar/dist/fullcalendar.css">
        <link rel="stylesheet"  type="text/css" href="/vendor/fullcalendar/dist/fullcalendar.print.css" media="print">
        <link rel="stylesheet"  type="text/css" href="/vendor/datatables.net-bs/css/dataTables.bootstrap.css">
        <link rel="stylesheet"  type="text/css" href="/vendor/highcharts/css/highcharts.css">
        <!-- endbuild -->
        <!-- build:js js/index.min.js -->
        <script type="text/javascript" src="/vendor/jquery/dist/jquery.js">                                     </script>
        <script type="text/javascript" src="/vendor/bootstrap/dist/js/bootstrap.js">                            </script>
        <script type="text/javascript" src="/vendor/bootstrap-switch/dist/js/bootstrap-switch.js">              </script>
        <script type="text/javascript" src="/vendor/angular/angular.js">                                        </script>
        <script type="text/javascript" src="/vendor/angular-route/angular-route.js">                            </script>
        <script type="text/javascript" src="/vendor/angular-translate/angular-translate.js">                    </script>
        <script type="text/javascript" src="/vendor/angular-sanitize/angular-sanitize.js">                      </script>
        <script type="text/javascript" src="/vendor/angular-bootstrap-switch/dist/angular-bootstrap-switch.js"> </script>
        <script type="text/javascript" src="/vendor/angularUtils-pagination/dirPagination.js">                  </script>
        <script type="text/javascript" src="/vendor/select2/dist/js/select2.full.js">                           </script>
        <script type="text/javascript" src="/vendor/moment/min/moment-with-locales.js">                         </script>
        <script type="text/javascript" src="/vendor/ngDatepicker/src/js/ngDatepicker.js">                       </script>
        <script type="text/javascript" src="/vendor/fullcalendar/dist/fullcalendar.js">                         </script>
        <script type="text/javascript" src='/vendor/fullcalendar/dist/lang-all.js'>                             </script>
        <script type="text/javascript" src="/vendor/sweetalert/dist/sweetalert.min.js">                         </script>
        <script type="text/javascript" src="/vendor/highcharts/highcharts.js">                                  </script>
        <script type="text/javascript" src="/vendor/highcharts/modules/drilldown.js">                           </script>

        <script type="text/javascript" src="/vendor/datatables.net/js/jquery.dataTables.js">                    </script>
        <script type="text/javascript" src="/vendor/datatables.net-bs/js/dataTables.bootstrap.js">              </script>
        <script type="text/javascript" src="/vendor/datatables.net-buttons/js/dataTables.buttons.js">           </script>
        <script type="text/javascript" src="/vendor/datatables.net-moment/datetime-moment.js">                  </script>
        <script type="text/javascript" src="/vendor/jszip/dist/jszip.min.js">                                   </script>
        <script type="text/javascript" src="/vendor/jspdf/dist/jspdf.min.js">                                   </script>
        <script type="text/javascript" src="/vendor/pdfmake/build/pdfmake.js">                                  </script>
        <script type="text/javascript" src="/vendor/pdfmake/build/vfs_fonts.js">                                </script>

        <script type="text/javascript" src="/vendor/datatables.net-buttons/js/buttons.flash.js">                </script>
        <script type="text/javascript" src="/vendor/datatables.net-buttons/js/buttons.colVis.js">               </script>
        <script type="text/javascript" src="/vendor/datatables.net-buttons/js/buttons.html5.js">                </script>
        <script type="text/javascript" src="/vendor/datatables.net-buttons/js/buttons.print.js">                </script>

        <script type="text/javascript" src="/js/utils/MySession.js">                                            </script>
        <script type="text/javascript" src="/js/utils/Util.js">                                                 </script>
        <script type="text/javascript" src="/js/utils/Message.js">                                              </script>
        <script type="text/javascript" src="/js/utils/MyTranslate.js">                                          </script>

        <script type="text/javascript" src="/js/app.js">                                                        </script>
        <script type="text/javascript" src="/js/directives/mypanel.js">                                         </script>
        <script type="text/javascript" src="/js/directives/mytable.js">                                         </script>
        <script type="text/javascript" src="/js/directives/myform.js">                                          </script>
        <script type="text/javascript" src="/js/directives/mytext.js">                                          </script>
        <script type="text/javascript" src="/js/directives/mydate.js">                                          </script>
        <script type="text/javascript" src="/js/directives/myhidden.js">                                        </script>
        <script type="text/javascript" src="/js/directives/mycheckbox.js">                                      </script>
        <script type="text/javascript" src="/js/directives/mytabs.js">                                          </script>
        <script type="text/javascript" src="/js/directives/mytabcontent.js">                                    </script>
        <script type="text/javascript" src="/js/directives/myselect2.js">                                       </script>
        <script type="text/javascript" src="/js/directives/myfile.js">                                          </script>
        <script type="text/javascript" src="/js/directives/mymask.js">                                          </script>
        <script type="text/javascript" src="/js/directives/mypassword.js">                                      </script>
        <script type="text/javascript" src="/js/directives/mycombo.js">                                         </script>
        <script type="text/javascript" src="/js/directives/mycalendar.js">                                      </script>
        <script type="text/javascript" src="/js/directives/mytextarea.js">                                      </script>
        <script type="text/javascript" src="/js/directives/mycard.js">                                          </script>
        <script type="text/javascript" src="/js/directives/mycarousel.js">                                      </script>
        <script type="text/javascript" src="/js/directives/mymodal.js">                                         </script>

        <script type="text/javascript" src="/js/services/InterceptorService.js">                                </script>
        <script type="text/javascript" src="/js/services/CategoriesServices.js">                                </script>
        <script type="text/javascript" src="/js/services/UsersServices.js">                                     </script>
        <script type="text/javascript" src="/js/services/CitiesServices.js">                                    </script>
        <script type="text/javascript" src="/js/services/ServicesServices.js">                                  </script>
        <script type="text/javascript" src="/js/services/ReservationsServices.js">                              </script>

        <script type="text/javascript" src="/js/controllers/categories/CategoriesController.js">                </script>
        <script type="text/javascript" src="/js/controllers/categories/CategoryController.js">                  </script>
        <script type="text/javascript" src="/js/controllers/users/UsersController.js">                          </script>
        <script type="text/javascript" src="/js/controllers/users/UserController.js">                           </script>
        <script type="text/javascript" src="/js/controllers/auth/LoginController.js">                           </script>
        <script type="text/javascript" src="/js/controllers/services/ServiceController.js">                     </script>
        <script type="text/javascript" src="/js/controllers/services/ServicesController.js">                    </script>
        <script type="text/javascript" src="/js/controllers/homes/HomeController.js">                           </script>
        <script type="text/javascript" src="/js/controllers/homes/MainController.js">                           </script>
        <script type="text/javascript" src="/js/controllers/reservations/ReserveController.js">                 </script>
        <script type="text/javascript" src="/js/controllers/reservations/ConfirmReserveController.js">          </script>
        <script type="text/javascript" src="/js/controllers/reservations/ReservationsProfessionalController.js"></script>
        <script type="text/javascript" src="/js/controllers/users/MyAccountController.js">                      </script>
        <script type="text/javascript" src="/js/controllers/users/MyRequestsController.js">                     </script>
        <script type="text/javascript" src="/js/controllers/reports/UserReportController.js">                   </script>
        <script type="text/javascript" src="/js/controllers/reports/ServicesReportController.js">               </script>
        <script type="text/javascript" src="/js/controllers/reports/ReportStatistcsController.js">              </script>
        <script type="text/javascript" src="/js/controllers/TesteController.js">                                </script>
        <!-- endbuild -->

    </head>
    <body>
        <div>
            <nav class="navbar navbar-default navbar-fixed-top" data-ng-controller="MainController as  Main">
                <div class="container">
                    <a class="navbar-brand title" href="#/">
                      <img src="favicon.ico" style="width:25px;height:25px;float:left">&nbsp;&nbsp;Services
                    </a>

                    <ul class="nav navbar-nav navbar-right" style="margin: 10px -65px 0px 0px !important">
                        <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"><img data-ng-src="/res/{{lang}}.png" style="width:20px;height:20px;margin-top: -15px;"></a>
                            <ul class="dropdown-menu">
                                <li><a class="menu-navbar" data-ng-click="changeLanguage('pt')"><img src="/res/pt.png" style="width:20px;height:20px"> {{ 'LANG_PT' | translate }}</a></li>
                                <li><a class="menu-navbar" data-ng-click="changeLanguage('en')"><img src="/res/en.png"    style="width:20px;height:20px"> {{ 'LANG_EN' | translate }}</a></li>
                            </ul>
                        </li>
                    </ul>

                    <% if( logged ){ %>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown" style="cursor:default;margin-top:2px;" data-ng-if="qtde > 0">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i style="font-size:25px;" class="fa fa-shopping-cart"></i><span style="margin-top: -30px;color:#a94442;background-color:#dca7a7" class="badge">{{ qtde }}</span></a>
                            <ul class="dropdown-menu">
                              <li><a class="menu-navbar" data-ng-href="/#/confirm/reserve/"><i class="fa fa-check-square-o"></i>  {{ 'MAKE_RESERVATION' | translate }}</a></li>
                              <li><a class="menu-navbar" data-ng-click="clearAll();"><i class="fa fa-trash-o"></i>  {{ 'REMOVE_RESERVATION' | translate }}</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%=username%>&nbsp;&nbsp;&nbsp;<img src="<%=image%>" class="myimage" style="border-radius:15px;"height="30px" width="30px"></a>
                            <ul class="dropdown-menu">
                                <li><a class="menu-navbar" data-ng-href="/#/myrequests"><i class="fa fa-history"></i> {{ 'MY_AS' | translate }} {{ 'RESERVATIONS' | translate }}</a></li>
                                <li><a class="menu-navbar" data-ng-href="/#/myaccount"><i class="fa fa-user"></i> {{ 'MY_A' | translate }} {{ 'ACCOUNT' | translate }}</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a class="menu-navbar" data-ng-href="/auth/logout/"><i class="fa fa-power-off"></i> {{ 'LOGOUT' | translate }}</a></li>
                            </ul>
                        </li>
                        <% } else {  %>
                    <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-ng-href="#/auth/" >Login</a>
                            </li>
                        <% }  %>
                    </ul>

                </div>

            </nav>
        </div>
        <% if( logged != 1 && logged ){ %>
            <% include menu %>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10" data-ng-view></div>
        <%}else{%>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" data-ng-view></div>
        <%}%>
    </body>
    <div data-ng-include="'partials/footer.html'"></div>
</div>
</html>
