
<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 bs-menu">
	<div class="bs-menu-fix">Menu</div>

	<div data-toggle="collapse" data-target=".entries" class="bs-menu-title">Entries</div>
	
	<% if( logged == 3 ){ %>
		<div class="collapse bs-menu-item entries">
			<a class="btn btn-block left" href="#/categories">
				<i class="fa fa-circle-o text-green"></i>&nbsp;&nbsp;<b>Categories</b>
			</a>
		</div>

		<div class="collapse bs-menu-item entries">
			<a class="btn btn-block left" href="#/users">
				<i class="fa fa-users text-green"></i>&nbsp;&nbsp;<b>Users</b>
			</a>
		</div>

	<% } %>

	<div class="collapse bs-menu-item entries">
		<a class="btn btn-block left" href="#/services">
			<i class="fa fa-gears text-green"></i>&nbsp;&nbsp;<b>Services</b>
		</a>
	</div>

	<% if(  logged == 2 ){ %>
		<div data-toggle="collapse" data-target=".actions" class="bs-menu-title">Actions</div>

		<div class="collapse bs-menu-item actions">

			<a class="btn btn-block left" href= <%= "#/actions/reservations/" + user %> >
				<i class="fa fa-calendar text-green"></i>&nbsp;&nbsp;<b>Reservations</b>
			</a>
		</div>
	<% } %>

	<div data-toggle="collapse" data-target=".reports" class="bs-menu-title">Reports</div>

	<div class="collapse bs-menu-item reports">
		<a class="btn btn-block left" href="#/reports/users">
			<i class="fa fa-users text-green"></i>&nbsp;&nbsp;<b>Users</b>
		</a>
	</div>
</div>