<form class="form-horizontal" name="categoryForm" data-ng-submit="store();">
<mypanel title="{{ modulo }} #{{ category._id }}">
    
    <mypanelbody>
            <div class="form-group has-feedback" data-ng-class="{ 'has-success' : !categoryForm.name.$invalid , 'has-error' : categoryForm.name.$invalid }" >
                <label for="category" class="col-sm-2 control-label">Name</label>
                 <div class="col-sm-7">
                    <input type="text" data-ng-model="category.name" name="name" data-ng-minlength="2"  data-ng-required="true" class="form-control" id="category" placeholder="name">
                    <span class="glyphicon form-control-feedback" data-ng-class="{ 'glyphicon-ok' : !categoryForm.name.$invalid , 'glyphicon-remove' : categoryForm.name.$invalid }" aria-hidden="true"></span>
                    <span class="text-danger" data-ng-show="categoryForm.name.$error.required">Name is required</span>
                    <span class="text-danger" data-ng-show="categoryForm.name.$error.minlength">Minimum 2 characters</span>
                </div>
            </div>
            <div class="form-group">
                <label for="category" class="col-sm-2 control-label">Active</label>
                 <div class="col-sm-7">
                    <input type="checkbox" data-ng-model="category.active" class="checkbox" bs-switch>
                </div>
            </div>
            <div>
                <input type="hidden" data-ng-model="category._id" name="_id" value=" category._id ">
            </div>
    </mypanelbody>
    
    <mypanelfooter>
        <button class="btn btn-default" type="submit"><i class='fa fa-save'></i>&nbsp;Submit</button>
        <a class="btn btn-default" data-ng-href="#/category"><i class='fa fa-plus-circle'></i>&nbsp;New</a>
        <a class="btn btn-default" data-ng-href="#/categories"><i class='fa fa-list'></i>&nbsp;Back to list</a>
    </mypanelfooter>

</mypanel>
</form>