<myform formname="categoryForm" funcsubmit="store()">
<mypanel title="Category #{{ category._id }}">
    <mypanelbody>            
        <myhidden   model="category" name="_id" ></myhidden>
        <mytext     model="category" name="name"   label="Name" form="categoryForm"  minlength="6" required="true"></mytext>
        <mycheckbox model="category" name="active" label="Active"></mycheckbox>
    </mypanelbody>    
    <mypanelfooter>
        <button class="btn btn-default" type="submit"><i class='fa fa-save'></i>&nbsp;Submit</button>
        <a class="btn btn-default" data-ng-href="#/category"><i class='fa fa-plus-circle'></i>&nbsp;New</a>
        <a class="btn btn-default" data-ng-href="#/categories"><i class='fa fa-list'></i>&nbsp;Back to list</a>
    </mypanelfooter>
</mypanel>
</myform>